.player-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
}

#password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    z-index: 10;
    color: var(--whiteColor);
    flex-direction: column;
    text-align: center;
    border-radius: var(--rounded);
}

#lock-icon {
    font-size: 36px;
    color: var(--romiColor);
    margin-bottom: 10px;
}

.password-input-wrapper {
    position: relative;
    width: 100%;
    max-width: 300px;
}

#password-input {
    padding: 8px;
    font-size: 14px;
    width: 100%;
    background: var(--whiteColor);
    color: var(--blackColor);
    border-radius: var(--rounded);
    border: 1px solid var(--roundedColor);
    margin-bottom: 10px;
}

#toggle-password {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--blackColor);
    cursor: pointer;
}

#toggle-password:hover {
    color: var(--mainColor);
}

#submit-password {
    width: 100%;
    max-width: 300px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--romiColor);
    color: var(--whiteColor);
    border-radius: var(--rounded);
    border: 1px solid var(--mainColor);
    cursor: pointer;
}

#submit-password:hover {
    background-color: var(--whiteColor);
    color: var(--romiColor);
}

#new-user {
    width: 100%;
    max-width: 300px;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 14px;
    background-color: var(--mainColor);
    color: var(--whiteColor);
    border-radius: var(--rounded);
    border: 1px solid var(--roundedColor);
    cursor: pointer;
}

#new-user:hover {
    background-color: var(--whiteColor);
    color: var(--mainColor);
}

#loading-animation {
    width: 50px;
    height: 50px;
    background-image: var(--icon-loading);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}
